# Byte-compiled
__pycache__/

# Distribution / packaging
build/
dist/
*.egg
*.egg-info/

# Sphinx documentation
docs/_build/
docs/build/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# Desktop Services Store
.DS_Store